.Weather {
  border: 1px solid #302e2e;
  padding: 16px;
  max-width: 600px;
  margin: 0px;
  border-radius: 4px;
  box-shadow: 3px 6px 20px 9px rgba(195, 235, 240, 0.955);
}
.Weather ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #44ccf1;
}
.Weather .temperature {
  font-size: 45px;
}
.Weather .unit {
  font-size: 14px;
  position: relative;
  top: -20px;
  color: #44ccf1;
  font-weight: 900;
}
